<mat-card>
  <mat-card-header>
    <mat-card-title>Produto</mat-card-title>
    <mat-card-subtitle>Cadastro de produtos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <pre>Values: {{partsForm.value | json}}</pre>
    <form [formGroup]="partsForm" fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="10px grid">
      <div fxFlex="50" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <mat-select placeholder="Fabricantes" formControlName="manufacturer" (selectionChange)="getModelos($event)">
            <mat-option *ngFor="let fabricante of fabricantes$ | async" [value]="fabricante.id">
              {{ fabricante.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <mat-select placeholder="Modelos" formControlName="brand">
            <mat-option *ngFor="let modelo of modelos$ | async" [value]="modelo.id">
              {{ modelo.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <mat-select placeholder="Aplicação" formControlName="aplication">
            <mat-option *ngFor="let group of groups$ | async" [value]="group.id">
              {{ group.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <mat-select placeholder="Peças" formControlName="parts">
            <mat-option value="Porta">Porta</mat-option>
            <mat-option value="Porta">Porta</mat-option>
            <mat-option value="Porta">Porta</mat-option>
            <mat-option value="Porta">Porta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="partsForm.reset()">Limpar</button>
    <button mat-raised-button color="accent">Salvar</button>
  </mat-card-actions>
</mat-card>
