.spacer {
  flex: 1 1 auto;
}

.active-route {
  background: rgba(0,0,0,.04);
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 250px;
}

.circle {
  border-radius: 50%;
}

.with-bg {
  background: #3f51b5;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 130px;
}

.no-shadow {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-left: 10px !important;
}

.fixed-header {
  position: fixed;
  z-index: 2;
}

.absolute-container {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0;
}