<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="10px grid">
  <div fxFlex="50" fxFlex.xs="100">
    <app-chart-card [title]="'Vendas semestrais'" [subtitle]="'Vendas por semestre'" [chartType]="doughnutChartType" [chartData]="doughnutChartData"
      [chartOptions]="doughnutChartOptions">
    </app-chart-card>
  </div>
  <div fxFlex="50" fxFlex.xs="100">
    <app-chart-card [title]="'Vendas categorizadas'" [subtitle]="'Vendas por categoria'" [chartType]="pieChartType" [chartData]="pieChartData"
      [chartOptions]="pieChartOptions">
    </app-chart-card>
  </div>

  <div fxFlex="50" fxFlex.xs="100">
    <app-chart-card [title]="'Vendas mensais'" [subtitle]="'Vendas por mês'" [chartType]="barChartType" [chartData]="barChartData"
      [chartOptions]="barChartOptions">
    </app-chart-card>
  </div>
  <div fxFlex="50" fxFlex.xs="100">
    <app-chart-card [title]="'Vendas último semestre'" [subtitle]="'Número de vendas dos últimos 6 meses'" [chartType]="lineChartType"
      [chartData]="lineChartData" [chartOptions]="pieChartOptions">
    </app-chart-card>
  </div>
</div>
