<mat-card class="mat-shadow margin-card-crud">

  <div class="mat-shadow padding-card-crud">

    <!-- header -->
    <mat-card-header>
      <mat-card-title>
        <h1>{{ title }}</h1>
      </mat-card-title>
      <mat-card-title>{{ subtitle }}</mat-card-title>
    </mat-card-header>

    <!-- {{ form.value | json }} -->
    <!-- form -->
    <form [formGroup]="form" fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="10px grid">
      <!-- <div fxFlex="30" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <input matInput placeholder="Código" formControlName="uid">
        </mat-form-field>
      </div> -->
      <div fxFlex="70" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="name" #inputFocus>
          <mat-error *ngIf="form.get('name').invalid">{{getErrorMessage('name', 'Nome')}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="30" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <input matInput placeholder="CNPJ" formControlName="cnpj">
          <mat-error *ngIf="form.get('cnpj').invalid">{{getErrorMessage('cnpj', 'CNPJ')}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email">
          <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage('email', 'E-mail')}}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <input matInput placeholder="Telefone" formControlName="phone">
        </mat-form-field>
      </div>
      <div fxFlex="80" fxFlex.xs="100" class="form-container">
        <mat-form-field>
          <input matInput placeholder="Endereço" formControlName="address">
        </mat-form-field>
      </div>
      <div fxFlex="20" fxFlex.xs="100" class="form-container">
        <button mat-raised-button (click)="save()" [disabled]="form.invalid" color="accent">{{ button }}</button>
      </div>
    </form>

  </div>

  <br>

  <div class="mat-shadow">

    <!-- filter -->
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="10px grid">
      <div fxFlex="30" fxFlex.xs="50" class="form-container">
        <mat-form-field class="input-filter-table">
          <input matInput (keyup)="filter($event.target.value)" placeholder="Pesquisar..">
        </mat-form-field>
      </div>
    </div>

    <!-- table -->
    <table mat-table [dataSource]="manufacturers" matSort>

      <!-- header/row column -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- columns -->
      <!-- <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
          <td mat-cell *matCellDef="let row"> {{row.uid}} </td>
        </ng-container> -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CNPJ </th>
        <td mat-cell *matCellDef="let row"> {{row.cnpj}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
      </ng-container>

      <!-- actions buttons -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon (click)="edit(element)" matTooltip="Edit" matTooltipPosition="right">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="delete(element)" matTooltip="Delete" matTooltipPosition="right">delete</mat-icon>
          </button>
        </td>
      </ng-container>

    </table>

    <!-- paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>

</mat-card>
